<?xml version="1.0"?>
<config>
	<modules>
    	<Puravit_Login>
        	<version>0.1.0</version>
      	</Puravit_Login>
	</modules>
	<global>
        <blocks>
            <login>
                <class>Puravit_Login_Block</class>
			</login>
        </blocks>
		<helpers>
			<login>
				<class>Puravit_Login_Helper</class>
			</login>
		</helpers>
		<models>
            <login>
                <class>Puravit_Login_Model</class>
                <resourceModel>login_mysql4</resourceModel>
            </login>
            <login_mysql4>
                <class>Puravit_Login_Model_Mysql4</class>
                <entities>
                    <email_list>
                        <table>email_list</table>
                    </email_list>
                </entities>
            </login_mysql4>
        </models>
        <resources>
		    <login_setup>
		      <setup>
		        <module>Puravit_Login</module>
		      </setup>
		      <connection>
		        <use>core_setup</use>
		      </connection>
		    </login_setup>
		 
		    <login_write>
		      <connection>
		        <use>core_write</use>
		      </connection>
		    </login_write>
		    <login_read>
		      <connection>
		        <use>core_read</use>
		      </connection>
		    </login_read>
		</resources>
	</global>
	<default>
		<login>
			<general>
				<version>0.1.0</version>
				<active>0</active>
			</general>
		</login>
	</default>
	<frontend>
        <routers>
            <login>
                <use>standard</use>
                <args>
                    <module>Puravit_Login</module>
                    <frontName>sign-in</frontName>
                </args>
            </login>
        </routers>
		<layout>
            <updates>
                <login>
                    <file>login.xml</file>
                </login>
            </updates>
        </layout>
	</frontend>
</config>