<?xml version="1.0"?>
<config>
    <modules>
        <Puravit_Quiz>
            <version>0.1.1</version>
        </Puravit_Quiz>
    </modules>
    
    <global>
        <blocks>
             <quiz>
                <class>Puravit_Quiz_Block</class>
             </quiz>
        </blocks>
        <fieldsets>
            <customer_account>
                 <recommendation>
                     <create>1</create>
                     <update>1</update>
                 </recommendation>
                 <quiz_visitor>
                     <create>1</create>
                     <update>1</update>
                 </quiz_visitor>
                  <size_top>
                     <create>1</create>
                     <update>1</update>
                 </size_top>
                  <size_bottom>
                     <create>1</create>
                     <update>1</update>
                 </size_bottom>
            </customer_account>
        </fieldsets>
        <models>
            <quiz>
                <class>Puravit_Quiz_Model</class>
            </quiz>
        </models>
        <resources>
            <quiz_setup>
              <setup>
                <module>Puravit_Quiz</module>
                <class>Puravit_Quiz_Model_Resource_Eav_Mysql4_Setup</class>
              </setup>
         
              <connection>
                <use>core_setup</use>
              </connection>
            </quiz_setup>
         
            <quiz_write>
              <connection>
                <use>core_write</use>
              </connection>
            </quiz_write>
            <quiz_read>
              <connection>
                <use>core_read</use>
              </connection>
            </quiz_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <quiz>
                <use>standard</use>
                <args>
                    <module>Puravit_Quiz</module>
                    <frontName>sign-up</frontName>
                </args>
            </quiz>
        </routers>
        <layout>
            <updates>
                <quiz>
                    <file>quiz.xml</file>
                </quiz>
            </updates>
        </layout>
    </frontend>

</config>
